 <div class="form-wrapper">
     <form class="mt-4"  method="POST">
            <!-- Campo de E-mail -->
            <div class="mb-4">
              <label for="NomeUsuario" class="block text-gray-600">E-mail</label>
              <input type="text" id="NomeUsuario" name="NomeUsuario" class="w-full p-3 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-green-600" required>
            </div>
            <!-- Campo de Senha -->
            <div class="mb-6">
              <label for="Senha" class="block text-gray-600">Senha</label>
              <input type="text" id="Senha" name="Senha" class="w-full p-3 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-green-600" required>
               <div class="mt-2 text-sm ">
              
     
            </div>
            </div>
            <!-- Botão de Login -->
            <button onclick="login(event)"  type="submit" class="w-full py-3 bg-green-600  text-white font-semibold rounded-md hover:bg-green-500 focus:outline-none focus:ring-2 focus:ring-green-600">
              Entrar
            </button>
        
            <!-- Link para Cadastro -->
         
           <div class="border-b border-neutral-300 my-4"></div>
            <div class="w-full flex justify-center mt-4">
                <img class="w-[24px] h-[24px] mt-1" src="/assest/logo-google.png" alt="Entrar com conta Google">
                <img class="w-[30px] h-[30px] ml-4" src="/assest/logo-outlook.svg" alt="Entrar com conta Outlook">
            </div>
          </form>
 </div>

     <script >


     </script>
