<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
 <link rel="stylesheet" href="/css/styles.css">
  
</head>
<body class="bg-[url('/assest/agro.png')] h-64 bg-cover bg-center">
  <nav class="w-full h-12  bg-green-700 flex justify-center"> 
   <h1 class="text-white self-center font-semibold text-xl">Gestão Agro</h1>
  </nav>

  <div class="w-full h-full flex justify-end">

    <div><h1 class="text-white text-6xl"></h1></div>
    <div class="w-[400px] h-[550px] bg-white shadow-md shadow-black/90 rounded-md px-6 py-2 mt-[12%] mr-44">
   {{>formulario}}
        
     </div>
    
  </div>
  
  <script >
           {{{registerScript}}}
     </script>

</body>
</html>
